body{
    background-color: grey;
}
.titulo{
    color: red;
}
.bold{
    font-weight: bold;
}
.divCentrado{
    display: flex;
    justify-content: center;
    width: 500px;
}
.imagen{
    width: 300px;
}